nav {

  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120 px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em;
}
.fa-angles-down {
  transition: 0.3s;
}
.fa-angles-down: hover {
   transform: translate(0, -10px);
}

.logo {
  padding-top: 35px;
}
.write-tweet {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}
