nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 120 px;
  width: 100vw;
  color: #ffffff;
  padding:  1.5em;
}

.arrow-button {
  border: none;
  background-color: transparent;
}

.write-tweet {
  display: flex;
  flex-direction: column;
}
.display-on{
  display: flex;
  flex-direction: column;
}
.display-off{
  display: none;
}
/* .display-button(
  display: inline;
) */

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056a1;
  }
}
