article.tweet {
  border: 2px solid black;
  margin-top: 20px;
  padding: 10px;
  
}
article.tweet:hover {
box-shadow: 5px 10px silver;
}
article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.tweet-icon {
  display: flex;
  flex-direction: row;
}
.tweet-name {
  padding-left: 5px;
  font-size: 20px;
}

.tweet-username {
  font-size: 20px;
  color: silver;
  font-weight: 600;
}

.tweet-text {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px solid black;
}

.tweet-days-ago {
  font-size: 13px;
  font-weight: 600;
}

.fa-solid:hover {
    color: rgb(149, 149, 31) !important;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
}
